.contact-title {
  font-weight: 200;
  text-align: center;
}
.contact-sub {
  font-weight: 200;
  text-align: center;
}
.contact-wrapper {
  background-color: #F2F2F2;
  height: 400px;
  width: 100%;
  padding: 50px 20px;
  margin: 30px 0;
}

.company-info {
  color: black;
  font-weight: 200px;

}

.contact-card {
  min-height: 300px;
  padding: 10px 20px;
  background-color: white;
  text-align: center;
  margin-left: 35px;
}

.icon-org {
  display: flex;
  padding: 0 10px;
}

.centred {
  margin-bottom: 44px;
}

.shared {
  flex: 1;
}

.comp-address {
  margin-left: 20px;
}
