.classicard {
  width: 278px;
  height: 278px;
  margin: 40px 0;
}

.propic {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.propic:hover {
  -webkit-transform:scale(1.006);
  transform:scale(1.006);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
}
