<div class="up-foot">
  <div class="footer">
    <div class="navigation">
      <%= link_to root_path, class: "nav-foot-link nav-foot" do %>
        Home
      <%end%>
      <%= link_to projects_path, class: "nav-foot-link nav-foot" do %>
        Projets
      <%end%>
      <%= link_to inspirations_path, class: "nav-foot-link nav-foot" do %>
        Inspirations
      <%end%>
      <%= link_to new_contact_path, class: "nav-foot-link nav-foot" do %>
        Contact
      <%end%>
    </div>
    <div class="socials">
      <i class="fa fa-facebook  nav-foot-social nav-foot" aria-hidden="true"></i>
      <i class="fa fa-instagram nav-foot-social nav-foot" aria-hidden="true"></i>
      <i class="fa fa-linkedin  nav-foot-social nav-foot" aria-hidden="true"></i>
      <i class="fa fa-google-plus nav-foot-social nav-foot" aria-hidden="true"></i>
    </div>
  </div>
  <div class="jdi">
    This Website has been designed and developed by <i class="fa fa-copyright" aria-hidden="true"></i> JDi Agency
  </div>
</div>
