<div class="navbar">
  <div class="test-flex">
      <h1 class="home-header home-titles">ALL SUPPLIES</h1>
      <h2 class="home-subheader home-titles">Architectes d'Intérieur</h2>
      <hr class="styline">
  </div>

  <div class="nav-items">
    <div class="nav-item">
      Home
      <hr class="styline">
    </div>
    <div class="nav-item">
      Projets
      <hr class="styline">
    </div>
    <div class="nav-item">
      Inspirations
      <hr class="styline">
    </div>
    <div class="nav-item">
      Contact
      <hr class="styline">
    </div>
  </div>
</div>
