<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/portrait.jpg');">
  <div class="banner-content">
    <h1>ARCHITECT & INTERIOR DESIGNER</h1>
    <hr class="styline">
    <p>Any work in architecture which does not express serenity is a Mistake.</p>
    <div class="banner-buttons">
      <a class="btn-banner btanner">PROJECTS</a>
      <a class="btn-banner-white btanner">CONTACT ME</a>
    </div>
  </div>
</div>

<div class="flex-grid">
  <div class="flexhare pictie" style="background-image: url('../../assets/pinterest interior archi 17-min.jpg');"></div>
  <div class="flexhare textie textie-white">
    <div style="text-align: center">
      <h4>FIRST PROJECT</h4>
      <div class="home-description">
        <p>Brussels, Belgium</p>
        <p>Periphery House, Full reconditionning</p>
        <p>Spring 2017</p>
      </div>
      <a href="#" class="btn-banner btanner">MORE</a>
    </div>
  </div>
  <div class="flexhare pictie" style="background-image: url('../../assets/pinterest interior archi 19-min.jpg');"></div>
</div>
<div class="flex-grid-2">
  <div class="flexhare pictie" style="background-image: url('../../assets/pinterest interior archi 21-min.jpg');"></div>
  <div class="flexhare pictie" style="background-image: url('../../assets/pinterest interior archi 13-min.jpg');"></div>
  <div class="flexhare pictie" style="background-image: url('../../assets/pinterest interior archi 6-min.jpg');"></div>
  <div class="flexhare textie textie-black">
    <div style="text-align: center;">
      <h4>SECOND PROJECT</h4>
      <div class="home-description">
        <p>Lasne, Belgium</p>
        <p>Factory, Reallocation</p> <!-- Reassignement? -->
        <p>Fall 2016</p>
      </div>
    </div>
  </div>
</div>

<div class="talk-section">
  <div style="text-align: center;">
    <h4 >LET'S TALK</h4>
    <div class="home-description">
      <p>If you're interested in my services and would like additionnal informations or have specific project questions, feel free to contact me.</p>
      <hr class="styline">
    </div>
      <%= link_to new_contact_path, class: "btanner black-btn" do %>
        CONTACT ME
      <%end%>

  </div>
</div>
