
<div class="carousel-shell">
  <!-- CAROUSEL -->

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active ">
        <%= image_tag 'hipster.jpg', class: "tales" %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag'modern.jpg', class: "tales" %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag'crazy.jpg', class: "tales" %>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $.each( jQuery('.carousel .item'), function( i, val ) {
    $(this).css('background-image','url('+$(this).find('img').attr('src')+')').css('background-size','cover').find('img').css('visibility','hidden');
  });
</script>

