  <div class="contact-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-4 contact-card">
          <h4>Demandez</h4>
          <hr class="styline centred">
          <div class="form">
            <%= render 'shared/contact_form' %>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 contact-card">
          <h4>Contactez</h4>
          <hr class="styline centred">
          <div class="icon-org">
            <div class="icon-org-2 shared">
              <div class="icons spaced">
                <p class ="infos-organized"><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
                <p class ="infos-organized"><i class="fa fa-phone" aria-hidden="true"></i></p>
                <p class ="infos-organized"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
              </div>
              <div class="infos spaced">
                <p class ="infos-organized">info@all-supplies.be</p>
                <p class ="infos-organized">+32 (0) 477 63 48 32</p>
                <p class="comp-address">Avenue Louis Lepoutre 74<br> 1050 Bruxelles</p>
              </div>
            </div>
            <div class="map shared">
              <iframe
              width="250"
              height="200"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDkZ-PfWP_i_8pR_YklJJgJbhLuoV9gHd0
              &q=Avenue+Louis+Lepoutre+74,Bruxelles+Belgique" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



