  <div class="contact-wrapper">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-4 contact-card">
          <h4>Demandez</h4>
          <hr class="styline centred">
          <%= render 'shared/contact_form' %>
        </div>

        <div class="col-xs-12 col-md-6 contact-card">
          <h4>Contactez</h4>
          <hr class="styline centred">
          <div class="icon-org">
            <div class="icon-org shared">
              <div class="icons spaced">
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
                <p><i class="fa fa-phone" aria-hidden="true"></i></p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i></p>
              </div>
              <div class="infos spaced">
                <p>info@all-supplies.be</p>
                <p>+32 (0) 477 63 48 32</p>
                <p class="comp-address">Avenue Louis Lepoutre 74<br> 1050 Bruxelles</p>
              </div>
            </div>
            <div class="map shared">
              <h4>Map</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
